body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;   
}

.roy-logo{
    height: 150px;
    border-radius: 50%;
    border: 5px solid goldenrod;

}

.header{
    padding: 40px;
    text-align: center;
    background: #f9f7f7;
    margin: 30px;
    font-size: 20px;
}

* {
box-sizing: border-box;
}

.colum-2{
    float: left;
    width: 45%;
    padding: 70px;
    height: 475px;
    margin: 30px 30px 70px 30px;
    background-color: #fede00;
    line-height: 2;
}

.large-profile{
    background-size: 20%;
    background: url('../images/picme.jpeg') center;
}

.section-heading{
    text-align: center;
    color: #102c4e;
    margin-top: 150px;
    margin-bottom: 70px;
    font-size: 35px;
}

.colum-4{
    float: left;
    width: 21%;
    padding: 10px;
    margin: 20px;
    height: 250px;
}

.project-1{
    background: url('../images/Uber-Taxi-APP.jpg');
    background-size: cover;
}

.project-2{
    background-color: white;
}

.project-3{
    background-color: #209bff;
}

.project-4{
    background-color: #112d4e;
}

.project-5{
    background-color: #f9f7f7;
}

.project-6{
    background-color: #209bff;
}

.project-7{
    background-color: #fff;
}

.project-8{
    background: url('../images/property_dribbble.png');
    background-size: cover;
}

.project-text{
    text-align: center;
    font-size: 50px;
}

.project-2 :hover{
    background-color: #fede00;
}

.project-3 :hover{
    background-color: #fede00;
}

.project-4 :hover{
    background-color: #fede00;
}

.project-5 :hover{
    background-color: #fede00;
}

.project-6 :hover{
    background-color: #fede00;
}

.project-7 :hover{
    background-color: #fede00;
}

.section-break{
    margin: 50px;
    height: 500px;
}

.section-heading{
    text-align: center;
    color: #102c4e;
    margin-top: 150px;
    margin-bottom: 70px;
    font-size: 35px;
}

.colum-1 {
    width: 90%;
    height: auto;
    padding-top: 70px;
    padding-left: 70px;
    padding-bottom: 70px;
    margin: 75px auto 50px;
    background-color: white;
}

.table-style {
    width: 100%;
    border-spacing: 24px;
}

.colum-2a{
    float: left;
    width: 45%;
    padding: 40px 70px 60px;
    height: 450px;
    margin: 30px 30px 40px;
    background-color: white;
}

.colum-quote{
    width: 90%;
    height: 475px;
    padding: 40px 70px 100px;
    margin: auto auto 150px;
    border: 20px solid goldenrod;
}

.quote{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
}
